<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
    <div>
        <h1>My Flask Demos</h1>
    <nav>
        <menu>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/fruits">Fruits (list)</a></li>
            <li><a href="/profile">Profile (dictionary)</a></li>
            <li><a href="/db_data">Database Example</a></li>
        </menu>
    </nav>
    </div>
    <div>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Flask Logo">
    </div>
    </header>
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
</body>
</html>